<div class="container">
  <main class="main">
    <label for="bandLength">Długość pasma:</label>
    <input id="bandLength" type="number" [(ngModel)]="bandLength" />

    <div>
      <label for="elementLength">Długość elementu:</label>
      <input id="elementLength" type="number" [(ngModel)]="newElementLength" />
      <label for="elementCount">Liczba elementów:</label>
      <input id="elementCount" type="number" [(ngModel)]="newElementCount" />
      <button type="button" (click)="addElement()">Dodaj element</button>
    </div>

    <div *ngIf="elements && (getElementKeys().length > 0)">
      <h3>Elementy</h3>
      <ul>
        <li *ngFor="let length of getElementKeys()">
          Długość: {{ length }}, Liczba: {{ elements[length] }}
          <button type="button" (click)="removeElement(length)">Usuń</button>
        </li>
      </ul>
    </div>

    <button type="button" (click)="postCuttingProblem()">Wyślij zapytanie POST</button>
  </main>

  <aside class="response-aside" *ngIf="responseText !== null">
    <h3>Odpowiedź</h3>
    <pre>{{ responseText }}</pre>
  </aside>
</div>
